@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400&display=swap");

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

:root {
    --secondary-color: #ff9900;
    --background-color: #e3eaff;
    --primary-font: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font) !important;
    font-size: 100% !important;
    font-weight: 400 !important;
    overflow-x: hidden !important;
    background-color: var(--background-color) !important;
    min-height: 100vh !important;
}

#root {
    width: 100%;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.4rem;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}

